// .post-eof {
//   background: $grey-light;
//   height: 0px;
//   margin: $post-eof-margin-top auto $post-eof-margin-bottom;
//   text-align: center;
//   width: 0%;

//   .post-block:last-of-type & {
//     display: none;
//   }
// }
